.header{
    top: 0;
    background-color: var(--colorPrincipal);
    box-shadow: 0 0 10px black;
    width: 100%;
    z-index: 10;
    position: fixed;
}

.header > ul{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 13px 0;
}

.header > ul > li{
    width: 65px;
    text-align: center;
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: 0 12px;
    cursor: pointer;
}

.header > ul > li > button{
    background: none;
    border: none;
}

.header > ul > li > .header-btn{
    font-size: 16px;
    text-decoration: none;
    color: #DBE8D4;
    font-weight: 400;
    cursor: pointer;
}

.active{
    position: relative;
    display: flex;
    justify-content: center;
    transition: 0.3s all ease;
}

.active > a{
    color: var(--masFuerte) !important;
}

.active::before{
    content: "";
    position: absolute;
    bottom: -13px;
    width: 100%;
    height: 5px;
    background-color: var(--colorSecundario);
}

.header-btn:hover{
    color: var(--colorSecundario) !important;
}

@media screen and (max-width: 500px) {
    .header > ul{
        margin: 3px 0;
    }
    .header > ul > li{
        margin: 10px 12px;
    }
}