@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  background-color: #173040;
  background-image: url(https://samuelvasquezgonzalez.github.io/API-portf/multimedia/monta%C3%B1asArriba.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

}

html{
  scroll-behavior: smooth;
}


:root{
  --colorPrincipal: #525e65;
  --colorSecundario: #73CCA8;
  --masFuerte: #66daab;
  --linesColor: #7e94b5;
  --fontColor: rgb(212, 212, 212);
}


.sectionTitle{
  width: 400px;
  min-width: 200px;
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--fontColor);
  position: relative;
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 5px solid var(--linesColor);
}

.pInBlue{
  font-size: 1.2rem;
  width: 480px;
  min-width: 250px;
  color: var(--linesColor);
  margin-top: 0;
  text-align: center;
}

.pNormal{
  width: 480px;
  min-width: 250px;
  font-size: 1.2rem;
  color: var(--fontColor);
  font-family:"Titillium Web", sans-serif;
  text-align: justify;
}

.pNormal > b{
  color: var(--linesColor);
}

@media screen and (max-width: 501px) {

  .pInBlue{
    width: 350px;
  }

  .pNormal{
    width: 350px !important;
  }
}

@media screen and (max-width: 420px) {
  .sectionTitle{
    width: 300px;
  }
}

@media screen and (max-width: 401px) {
  .pInBlue{
    width: 320px;
  }

  .pNormal{
    width: 320px !important;
  }
}
