@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #173040;
  background-image: url(https://samuelvasquezgonzalez.github.io/API-portf/multimedia/monta%C3%B1asArriba.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;

}

html{
  scroll-behavior: smooth;
}


:root{
  --colorPrincipal: #525e65;
  --colorSecundario: aquamarine;
  --linesColor: #485e81;
  --fontColor: rgb(212, 212, 212);
}


.sectionTitle{
  width: 400px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--fontColor);
  position: relative;
  padding-bottom: 40px;
  text-align: center;
  border-bottom: 5px solid var(--linesColor);
}

.pInBlue{
  font-size: 20px;
  color: var(--linesColor);
  margin-top: 0;
}

.pNormal{
  width: 380px;
  font-size: 20px;
  color: var(--fontColor);
  font-family:"Titillium Web", sans-serif;
}

.pNormal > b{
  color: var(--linesColor);
}