.meMain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

.BotonChange{
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 45px;
    position: relative;
}

.BotonChange > img{
    width: 230px;
}

.tooltip{
    position: absolute;
    top: 30px;
    left: -50px;
    animation: flotar 1.5s infinite linear alternate;
}

.tooltip > img{
    width: 120px;
}

.about-pContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about-pContainer > p{
    text-align: justify;
}

@keyframes flotar {
    to{
        top: 30px
    }
    from{
        top: 45px
    }
}